@import './abstract/variables';
@import './abstract/mixins';
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
}

html {
  font-size: 10px;
}
body {
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  font-size: 2rem;
  color: $black-color;
}
h1 {
  font-size: 5rem;
  margin-bottom: 2rem;
}

button {
  @include button($main-color-dark);
}
